.bg-image{
background-image: url("https://cdn.create.vista.com/api/media/medium/758848624/stock-photo-payment-gateways-essential-processing-online-transactions-securely-customers-merchants-banks?token=");
background-position: center;
background-repeat: no-repeat;
background-size: fill;

}
